* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	height: 150px;
	width: 100%;
	background-color: blue;
	position: fixed;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

.container {
	width: 100%;
	top: 150px;
	display: flex;
	gap: 20px;
	position: fixed;
}

.menu-lateral{
	background-size: cover;
	background-position: center center;
	line-height: 60px;
    background-color: #07889B;
    width: 20%;

	
	overflow-x: hidden;
    overflow-y: scroll;
}
.menu-lateral a{
    font-size: 16px;
    display: block;
    padding-left: 10px;
    text-decoration: none;
    color: #ffffff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
a span{
	padding-right: 10px;
}
.menu-lateral a:hover{
    border-left: 5px solid #c7c7c7;
    background: #04b19a;
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {
	width: 80%;
	
	padding-left: 100px;
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px; 

	overflow-x: hidden;
    overflow-y: scroll;
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	width: calc(33.33% - 20px);
}

.card .textos {
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.menu-lateral {
	background-size: cover;
	width: 20%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {

}