*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    scrollbar-color: #ffffff75 transparent;
}

.cleaning{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.home{
    display: flex;
    flex-direction: column;
}

.container-evaluaciones{
    margin-top: 180px;
    margin-left: 50px;
    background-color: white;
    height: 800px;
}

.tituloEvaluaciones{
    width: 100%;
    top: 20px;
    font-size: 40px;
    padding-left: 60px;
}